.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal button {
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.modal .danger {
    background: red;
    color: white;
}